*{
    background-color: beige;
}



h1{
    color: green;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

h2{
    color: green;
}

p{
    font-family: sans-serif;
}

li{
    font-family: cursive;
}

a{
    font-weight: bold;
    color: green;
    font-family: 'Times New Roman', Times, serif;
}